{% extends "userdb/base.html" %}

{% block content %}
	<div class='container'>
		<div class="row">
			<div class="col-sm-6">
				<form class="text-xs-left" method='POST' action="">
					<h3>Add New User</h3>
					{{ form.non_field_errors }}
					{% csrf_token %}
					{% for field in form %}
					    <div class="form-group row">
							<div class="col-sm-2">{{ field.label_tag }}</div>
							<div class="col-sm-10">
								 {{ field }}
								<div class="form-control-feedback">{{ field.errors }}</div>
							</div>
						</div>
					{% endfor %}
					<input type='submit' value='Save' class='btn btn-lg btn-success' />
				</form>
				<hr><p>&nbsp;</p>
				<ul class='list-inline'>
					<li class='list-inline-item'><a href="{% url 'userdb:index' %}" class="btn btn-info">Home</a></li>
					<li class='list-inline-item'><a href="{% url 'userdb:list' %}" class="btn btn-primary">View All Users</a></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
