{% extends "userdb/base.html" %}

{% block content %}
	<div class='text-xs-center'>
		<p><strong>What do you want to do?</strong></p>
		<ul class='list-inline'>
			<li class='list-inline-item'><a href="{% url 'userdb:list' %}" class="btn btn-lg btn-primary">List All Users</a></li>
			<li class='list-inline-item'><a href="{% url 'userdb:add' %}" class="btn btn-lg btn-success">Add New User</a></li>
		</ul>
	</div>
{% endblock %}