{% extends "userdb/base.html" %}

{% block content %}
	<div class='text-xs-center'>
		<h3>Users List</h3>
		<div class="table-responsive">
			<table class="table table-inverse text-xs-left">
				<thead><tr><th>UserID</th><th>Name</th><th>Email</th></tr></thead>
				<tbody>
					{% comment "Loop through the appuser objects and populate the table" %}
					{% endcomment %}
					{% for u in appuser_list %}
						<tr>
							<th scope="row">{{ forloop.counter }}</th>
							<td>{{ u.name }}</td>
							<td>{{ u.email }}</td>
						</tr>
					{% empty %}
						<caption class='alert alert-block alert-warning text-xs-center'>No User added yet!</caption>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<hr>
		<ul class='list-inline'>
			<li class='list-inline-item'><a href="{% url 'userdb:index' %}" class="btn btn-info">Home</a></li>
			<li class='list-inline-item'><a href="{% url 'userdb:add' %}" class="btn btn-success">Add New User</a></li>
		</ul>
	</div>
	
{% endblock %}